
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    font-family: poppins,Arial,sans-serif;

}

.form-control {
  font-size: 1rem;
  font-style: italic;
  padding: 20px 10px;
}
input[type="text"],button:focus{
  outline: none;
  box-shadow:none !important;
  border:1px solid grey !important;
}
.nav-shadow{
  box-shadow: 0px 1px 10px #999;
}

@media screen and (max-width: 600px){
   .nav-shadow{
      background: darkgray !important;
      color: #999;
      top: 0;
  }
}  

